@import url("https://mspfa.com/css/?s=41577");

body {
  background-color: #000000;
}

#main {
  width: 930px;
  margin: 2em auto;
  text-align: center;
}

/* Intro */

#callieComp {
  font-family: 'Courier New', Courier, monospace;
  margin: 2em 0;
  background-color: black;

  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 4 / 3;

  border-radius: 2em;

  display: flex;
  align-items: center;
  justify-content: center;
}

#password {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  border: none;
  border-bottom: solid black;
  background-color: transparent;
  margin: 0 2em 1em;
}

.link {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;

  display: block;
  margin: 0.5em auto;
  border: none;
}

#Error {
  color: red
}

/* OTHER PAGES */

iframe {
  margin: 2em -50%;
}

.scrollpage {
  overflow: scroll;
  height: 100%;
  margin: 4em 2em;
  opacity: 0.8;
}